*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;;
}

/* header and navigation */
.nav-content{
   background-image: url(../images/banner/banner2.png);
   background-repeat: no-repeat;
   
}
.nav-title{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    padding: 210px 0px 50px 820px;
    width: 550px;
    height: 250px;  
}
.nav-description{
    font-weight: 400;
     font-size: 16px;
     text-align: right;
     color: #444343;
     position: absolute;
     width: 494px;
     height: 78px;
     padding: 5px 0px 45px 870px;
}
 .btn-primary{
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding:18px 20px ;
    margin-top: 10%; 
}

/* banner section */
.banner{
    display: flex;
    margin-top: 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    width: 450px;
    height: 180px;
    margin-top: 50%;
    
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    width: 430px;
    height: 90px;
}  

/* content section */

.content-title{
    text-align: center;
    margin-top: 130px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 150px;
}
.content-container{
    display: flex;
    gap: 250px;
    text-align:center ;
}  
.content-sub-title{
    font-weight: 700;
    font-size: 30px;
}
.content-description{
    font-weight: 500;
    font-size: 25px;
}

/* image style */
.img-content{
    background-image: url(../images/watch.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    background-position: center;
    margin-top: 200px;
}
.image-title{
    font-weight: 700;
    font-size: 40px;
    color:rgb(255, 255, 255);
    padding: 50px 300px;  
    
}
.btnn-primary{
    height: 64px;
    background-color: white;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding:18px 20px ;
}

/* contact styles */
.contact{
    background: #151414;
    display: flex;
    margin-top: 150px;
    gap: 100px;
}
.contact .contact-title{
    text-align: left;
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: white;
    padding: 10px;
}
.contact .contact-name{
     color: white;
     padding: 10px;
     text-align: left;   
}
.contact .contact-icons{
   
}
.contact .contact-subscription{
    text-align: left;
    margin-top: 50px;
    color: white;
    padding: 10px;
}
input{
    height: 30px;
}
.contact input[type=text]   {
    padding: 5px;
    border-color: white;
    width:100%;
    margin-bottom: 5px;
    
    color: white;
}
.contact input[type=submit]{
    color: #FD6E0A;
    background-color: white;
}
